<mat-card-title fxLayoutAlign="center">
  Nous Rejoindre
</mat-card-title>
<mat-card-content fxLayout="column"
                  fxLayoutAlign="center center">
  <form
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px"
    [style.fontSize.px]="20"
    [formGroup]="registerForm"
    (ngSubmit)="onRegister()"
  >
    <mat-form-field>
      <input
        type="email"
        matInput
        placeholder="Agence"
        formControlName="agencyName"
      />
      <mat-error *ngIf="registerForm.get('email').hasError('required')">
        Votre nom d'agence est requis.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        type="email"
        matInput
        placeholder="Email"
        formControlName="email"
      />
      <mat-error *ngIf="registerForm.get('email').hasError('required')">
        Votre email est requis.
      </mat-error>
      <mat-error *ngIf="!registerForm.get('email').hasError('required')">
        Veuillez entrer un email valide.
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        type="password"
        matInput
        placeholder="Mot de Passe"
        formControlName="password"
      />
      <mat-error *ngIf="registerForm.get('password').hasError('required')">Votre mot de passe est requis.</mat-error>
    </mat-form-field>
    <button type="submit"
            mat-raised-button
            color="primary"
            [disabled]="registerForm.invalid"
            *ngIf="!(isLoading$ | async)"
    >
      Rejoindre
    </button>
    <mat-spinner *ngIf="isLoading$ | async"></mat-spinner>
  </form>
</mat-card-content>
<p>Vous avez un compte?</p>
<button mat-button color="accent" (click)="onOldUser()">Se Connecter</button>
